<!-- Footer -->
<footer>
    <div class="footer-left">
        <i class="fa-solid fa-desktop"></i>
        <span title="System Host">ICT-UNIT</span>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-badges">
        <span class="badge" title="Server Status">
            <i class="fa-solid fa-server"></i> : Online
        </span>
        <div class="footer-divider"></div>
        <span class="badge"><i>Note: Website runs on Local Server.</i></span>
    </div>
    <div class="footer-right">
        <i class="fa-solid fa-bolt"></i>
        <span>Hospital Service Portal v4.0 | &copy; Powered by Phill.</span>
    </div>
</footer>