<!-- Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <div class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
        </div>
        <h1 onclick="window.location.href='index.html'"><i class="fa-solid fa-hospital"></i> Hospital Service Portal</h1>
    </div>
    <div class="user-info" id="userInfo">
        <span class="job-title" id="jobTitle">System Administrator |</span>
        <span class="user-name" id="userName">Phillip Z.P</span>
        <div class="user-avatar" id="userAvatar">PZ</div>
        <div class="user-dropdown" id="userDropdown">
            <a href="#" onclick="openChangePassword()"><i class="fas fa-key"></i> Change Password</a>
            <a href="#" class="signout" onclick="signOut()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        </div>
    </div>
</div>